<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comandi</title>
    <link rel="stylesheet" href='/static/style.css' />
</head>
<body>
    <h3>Comandi</h3>
        <form method="post" action="">
            <input type="submit" value="avanti" name="avanti"/>
            <input type="submit" value="indietro" name="indietro"/>
            <input type="submit" value="destra" name="destra"/>
            <input type="submit" value="sinistra" name="sinistra"/>
            <input type="submit" value="stop" name="stop"/>
        </form>
</body>
</html>